.avatar1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 30%;
  left: 80%;
  -webkit-animation: example 1s infinite; 
    animation-name: example 1s infinite;
}.avatar2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 25.5%;
  left: 46.4%;
  -webkit-animation: example 1s infinite; 
    animation-name: example 1s infinite;
}.avatar3 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 59.5%;
  left: 55.5%;
  -webkit-animation: example 1s infinite; 
    animation-name: example 1s infinite;
}.avatar4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 40%;
  left: 26.8%;
  -webkit-animation: example 1s infinite; 
    animation-name: example 1s infinite;
}
@-webkit-keyframes example {
  from {background-color: orange;}
  to {background-color: purple;}

}
@keyframes example {
  from {background-color: orange;}
  to {background-color: purple;}
}
body {
  padding: 0;
  margin: 0;
  
  color: white;
  overflow: hidden;
}
.hideMe {
  opacity: 0;
}
#masterWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#panelWrap {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: relative;
  background-color: #fff;
  margin: 12px;
  cursor: pointer;
}

.dots {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 2%;
}

h1 {
  position: absolute;
  z-index: 100;
  font-size: 18px;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}

span {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
}
img{
	
}
#downArrow {
  position: fixed;
  z-index: 100;
  bottom: -10px;
  left: 11.5%;
  right: 10%;
width: auto;
}

#upArrow {
	transform: rotate(180deg);
  position: fixed;
  z-index: 100;
  top: -10px;
  left: 11.5%;
  right: 9%;
width: auto;
}

.arrow {
}





p.navDotInfo {
  position: absolute;
  bottom: 5px;
  z-index: 225;
  width: 100%;
  text-align: center;
  max-width: 5000px;
  font-size: 0.875em;
}



@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
$blu:#4f53ab;

* {
  padding: 0;
  margin: 0;
}

@keyframes slidein{from{margin-left:-120%}to{}}
.text {
padding-left:20px;
  margin: 5vw auto 0 auto;
  font-family: 'raleway', sans-serif;
  color: white;
  font-size: 22px;
  line-height: 38px;
 
  h2 ,h3 {font-family:'Ubuntu', sans-serif;
    font-weight:900;
   
    padding: 5vw 0 2vw;
  
    margin-bottom: 2vw;
  }
  
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  p {
    
  }
}

h2 {
    font-size: 60px;
    line-height: 60px;
  }



  
     
  li {      text-decoration:none;
 list-style:none;

  font-size:150%;
 

    a { text-align:center;
      list-style:none;
      display:block;
      color:white;
      text-decoration:none;
     
    height:1%;
    }
  }


